
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');
body{

   background: linear-gradient(-45deg, #22c1c3, #fdbb2d,#fdbb2d, #92be77);
   background-size: 400% 400%;
   display: grid;
   border:1px;
   grid-template-columns: repeat(4, 400px);
   grid-template-rows: repeat(4, 400px);
   grid-gap:2px;

}

a:hover{
  text-decoration-line: underline;
  color: rgb(255, 246, 5) ;
}

a:link{
  text-decoration-line: none;
  color: rgb(122, 94, 9);
}
a:visited{
  text-decoration-color: rgb(226, 64, 69);
}

a:active{
  text-decoration-line: underline;
}

header{
  grid-column: 1 / span2;
  grid-row: 1;
  font-size:35px;
  font-family: 'Sacramento',"Arial", cursive;
}

nav{
  display: block;
  grid-column: 4;
  grid-row: 1;
  font-size::25px;
  font-family: 'Hind Vadodara', sans-serif;
}


#A{
  grid-column: 2;
  grid-row: 2;
}

#B{
  grid-column: 2;
  grid-row: 3;
}

#C{
  grid-column: 2;
  grid-row: 4;
}

footer {
  grid-column: 1/ span2;
  grid-row: 5;

}

h4{
  font-size: 30px;
  font-family: 'Dancing Script';
}
